<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      APP - IPTU
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #formulario="ngForm">
    <br>
    <ion-item>
      <ion-label position="floating">Valor imóvel: </ion-label>
      <ion-input name="valimo" ngModel></ion-input>
    </ion-item><br>
    <ion-item>
      <ion-label position="floating">Idade: </ion-label>
      <ion-input name="ida" ngModel></ion-input>
    </ion-item><br>

    <ion-button (click)="calciptu(formulario)">Calcular IPTU</ion-button>
    
    <br><br>
    <ion-item>
      <ion-label position="floating">Valor IPTU: </ion-label>
      <ion-input disabled value="{{resultado}}"></ion-input>
    </ion-item>
    <br>
  </form>

  <div>
    <pre>
        Taxa de IPTU baseado na idade do imóvel:
          - Até 39 anos - 20%
          - Entre 40 e 59 anos - 10%
          - Entre 60 e 79 anos - 5%
          - Acima de 80 anos - ISENTO
    </pre>
  </div>

</ion-content>
